ion-select{
    min-width: 100% !important;
}

.texto-check{
    padding-left: 10px;
}


.columnas{
    align-self: baseline;
}

.columna-km{
    align-self: baseline;
    font-size: 11px;
}

.input-km{
    --padding-start: 10px;
}