
img {
    width: 200px;
    margin: auto;
    display: block;
}

.olvida-pass {
    float: right;
    font-size: 12px;
    padding-top: 15px;
}

.registro-login {
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
}

.logo {
    --padding-top: 150px;
}

ion-content {
    --padding-top: 50px;
}



