<ion-header no-border translucent=false>
  <ion-toolbar mode="ios">
    <ion-title>
        <ion-label>Favoritos</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" fullscreen>
  <!-- Refresher -->
    <ion-refresher 	snapback-duration='500ms' pullFactor="0.5" pullMin="100" slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>

  <!-- Posts -->
  <app-posts [posts]="postsFavoritos"></app-posts>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll  [disabled]="!habilitado"
                        threshold="150px" 
                        (ionInfinite)="siguientes($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>